* {
  margin: 0;
}

html {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  --size: 70px;
  font-size: var(--size);
  --red: crimson;
  --green: rgb(80, 200, 120);
  --blue: rgb(0, 150, 255);
  --orange: rgb(255, 191, 0);
  background-color: black;
}

#title {
  margin-top: calc(var(--size) * 1.5);
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: calc(var(--size) * 2);
  color: var(--orange);
}

button {
  border: none;
  color: white;
  font-weight: bold;
  margin-top: calc(var(--size)/2);
  margin-bottom: calc(var(--size)/2);
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

#all-filter {
  background-color: var(--orange);
}

#all-filter.pressed {
  background-color: white;
  color: var(--orange);
  border-color: 2px solid var(--orange);
}

#red-filter {
  background-color: var(--red);
}

#red-filter.pressed {
  background-color: white;
  color: var(--red);
  border-color: 2px solid var(--red);
}

#green-filter {
  background-color: var(--green);
}

#green-filter.pressed {
  background-color: white;
  color: var(--green);
  border-color: 2px solid var(--green);
}

#blue-filter {
  background-color: var(--blue);
}

#blue-filter.pressed {
  background-color: white;
  color: var(--blue);
  border-color: 2px solid var(--blue);
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#shapes {
  font-family: 'Brush Script MT', cursive;
  font-size: calc(var(--size)/2);
  color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid var(--orange);
  border-bottom: 2px solid var(--orange);
}

.shape {
  margin-right: calc(var(--size) / 4);
}

.red {
  background: var(--red);
}

.green {
  background: var(--green);
}

.blue {
  background: var(--blue)
}

.square {
  width: var(--size);
  height: var(--size);
}

.circle {
  width: var(--size);
  height: var(--size);
  border-radius: 50%
}

.triangle {
  width: 0;
  height: 0;
  border-left: calc(var(--size) / 2) solid transparent;
  border-right: calc(var(--size) / 2) solid transparent;
  border-bottom: var(--size) solid;
}

.loading {
  width: 16px;
  height: 16px;
}